.container
{
    width: 1324px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px solid rgb(219, 219, 219);
    background: rgb(255, 255, 255);
}

/* logo */

.logo
{
    display: flex;
}

/* dropdown icon beside logo */
.dropdownIcon
{
    margin-left: 0.75rem;
    cursor: pointer;
}

/* search */

.search
{
    width: 268px;
    height: 36px;
}

.searchCombo
{
    vertical-align: middle;
    white-space: nowrap;
    vertical-align: middle;  
    width: 300px;
}

.searchCombo .searchIcon
{
    margin-top: 0.7rem;
    position: absolute;
    z-index: 1; 
    margin-left: 0.5rem;
}

.clear_search
{
    margin-top: 0.6rem;
    border: none;
    background: transparent;
    color: rgb(200, 200, 200);
    position: absolute;
    left: 43rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.searchInput
{
    font-size: 15px;
    border-radius: 8px;
    border: none;
    width: 232px;
    height: 34px;
    background: rgb(239, 239, 239);
    float: left;
    padding-left: 35px;
    font-family: 'Outfit';
}

input::placeholder
{
    font-family: 'Outfit';
    font-size: 17px;
}

input:focus-within 
{
    outline: none;
}

/* navigation */

.navigation
{
    display: flex;
    /* background: rgb(107, 106, 106); */
    align-items: center;
}

.icon
{
    display: block;
    padding: 3px 11px 0;
    cursor: pointer;
}

.profilePic
{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 3px 11px 0;
    cursor: pointer;
}

/* dropdown Tippy */

.dropdownTippy
{
    font-family: 'Outfit';
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.followingIcon
{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

}

.followingIcon:hover
{
    background: rgb(250, 250, 250);
}

.followingIcon p{
    margin-top: 0;
}

.favaouritesIcon
{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    padding-left: 0.3rem;
    /* flex: 1; */
}

.favaouritesIcon:hover
{
    background: rgb(250, 250, 250);
}

.favaouritesIcon p
{
    margin-top: 0;
}

/* pop up */


.popup_modal {
    font-size: 12px;
    height: 618px;
    width: 576px;
    justify-content: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(11, 10, 10, 0.16);
}


.popup_header {
    border-bottom: 1px solid rgb(219, 219, 219);
    font-size: 18px;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 450;
}


.popup_content {
    width: 100%;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.popup_para
{
    font-size: 20px;
}



.popup_selectFile_btn
{
    font-size: 15px;
    background: rgb(0, 149, 246);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 450;
    padding: 0.5rem 1rem;
}


.popup_btn
{
    background: transparent;
    border: none;
    cursor: pointer;
}

/* tippy menu */

.menu_container
{
    width: 230px;
    height: 246px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.menu_icon
{
    display: flex;
    width: 230px;
    height: 41px;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 0.5rem;
}

.menu_icon_profile
{
    display: flex;
    width: 230px;
    height: 41px;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 0.5rem;
}

.menu_icon_profile:hover
{
    background: rgb(250, 250, 250);
}

.menu_icon:hover
{
    background: rgb(250, 250, 250);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu_icon_p
{
    padding-left: 0.7rem;
}

.menu_logout
{
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding-left: 0.5rem;
    width: 230px;
    height: 41px;
    border-top: 1px solid rgb(219, 219, 219);
}

.menu_logout:hover 
{
    background: rgb(250, 250, 250);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
