.profileContainer
{
    background: rgb(251, 250, 250);
}

.profileMain
{
    margin-left: 251.5px;
    margin-right: 251.5px;
    padding: 2rem 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

