.containerSidebar
{
    margin-top: 1.2rem;
}

/* header Sidebar */

.headerSidebar
{
    display: flex;
    height: 66px;
    width: 319px;
}

.userLogo
{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
}

.userName
{
    position: relative;
    margin-left: 1rem;
}

