/* .content_header_container
{
    display: flex;
}

.circle_canvas
{
    border: 2px solid rgb(211, 0, 197);
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 26.5px 0 26.5px 1rem;
    display: flex;
}
.content_header_account_img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: auto;
} */